{% extends 'base.html' %}
 {% block mycontent %}
        <div class="container">
        <div class="row">
            <div class="col col-12 col-sm-6 col-md-4">
                    
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quas ipsam ipsum quibusdam eveniet officiis non eius quisquam hic, perferendis tempore amet tempora, iste sint nulla, eos modi nam atque accusantium!   
                    Please do contact :
                   Pro.Jogimol Benjamin
                  MCA Department
                 Mount Zion College
            </div>
            <div class="col col-12 col-sm-6 col-md-8">
                <table class="table">
                    <tr>
                        <td>Roll No</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Name</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td>Mark</td>
                        <td><input type="text" class="form-control"></td>
                    </tr>
                    <tr>
                        <td><Button class="btn btn-danger">SUBMIT</Button></td>
                        <td><Button class="btn btn-primary">CANCEL</Button></td>
                    </tr>
                </table>
        </div>
    </div>
    {% endblock %}
    
