{% extends 'base.html' %}
 {% block mycontent %}
    <h1> Mount Zion College</h1>
    <h2>MCA Department</h2>
    <table class="table">
        <tr>
            <td>Roll No</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Name</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td>Mark</td>
            <td><input type="text" class="form-control"></td>
        </tr>
        <tr>
            <td><Button class="btn btn-danger">SUBMIT</Button></td>
            <td><Button class="btn btn-primary">CANCEL</Button></td>
        </tr>
    </table>
 {% endblock %}
